<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <% Article.all.each do |article| %>
            <h1><%= article.title %></h1>
            <p><%= article.content %></p>
            <br>
        <% end %>
    </body>
</html>